.semaforo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: rgb(8, 8, 8);
    width: 20%; 
    height: 550px;
    margin-left: 600px;
    margin-top: 50px;
    border-radius: 25px;
  }
  
  .semaforo-button.rojo {
    background-color: rgb(192, 189, 189);
  }
  
  .semaforo-button.amarillo {
    background-color: rgb(192, 189, 189);
  }
  
  .semaforo-button.verde {
    background-color: rgb(192, 189, 189);
  }
  
